.nav-bar {
    @include dropShadow();
    background-color: $navColor;
    width: 100%;
    overflow: hidden;
    font-size: larger;
    position: sticky;
    top: 0;
    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: 60vw auto auto;
        li {
            float: left;
            a {
                color: $txtOnDark;
                display: block;
                padding: 14px 16px;
                text-align: center;
                text-decoration: none;
                &:hover, &:active {
                    background-color: $navItemHovered;
                }
            }
        }
    }
    input[type="search"] {  
        border-radius: 0.25em;
        padding: 0px 16px;
        width: 100%;
    }
    .nav-block {
        justify-self: end;
    }
}