.collections {
    @include centerContent();
    width: 100%;
    padding-bottom: 5em;
    ul {
        display: grid;
        grid-template-columns: auto auto auto;
        @media only screen and (max-width: 900px) {
        // display: grid;
        grid-template-columns: auto auto;
        }
    }
}

.brand-collections {
    @extend .collections;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
}

.colors-grid {
    @extend .collections;
    grid-template-columns: auto auto auto auto;
}