.item-card {
    display: block;
    background-color: $item;
    text-align: left;
    font-size: large;
    padding: 1em 1em;
    border-radius: 0.15em;
    margin: 0.75em;
    width: 25vw;
    @include dropShadow();
    @media only screen and (max-width: 900px) {
        width: 35vw;
        margin: 0.5em;
    }
    &:hover, &:active {
        background-color: $itemHovered;
    }
}

.arrival-card {
    @extend .item-card;
    width: 10vw;
    @media screen and (max-width: 700px){
        width: 15vw;
    }
    @media screen and (max-width: 500px){
        width: 20vw;
    }
    @media screen and (max-width: 500px){
        width: 30vw;
    }
}