table {
    background-color: $tableColor;
    border: 1px solid;
    border-radius: 0.25em;
    margin: 2em;
    padding: 0.5em;
    width: 85%;
    @include dropShadow();
    @media screen and (max-width:470px) {
        width: 60%;
        font-size: 0.60em;
    }
}

th, td {
    border: 1px solid;
    padding: 0.25em;
}

th {
    background-color: $thColor;
}

td {
    background-color: $tdColor;
    padding-left: 1em;
}