body {
    background-color: $bodyColor;
    @include centerContent();
}

.content {
    flex: 1;
    background-color: $contentColor;
    width: 100%;
    height: 100%;
    padding: 2em;
    @include centerContent();
}