{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block body%}
    <h1>{{ title }}</h1>

    <div class="collections">
        <ul>
            {% for shoe in collection.items%}
                <li class="item-card" onclick=" redirectUrl('{{url_for('cust_catalog_views.display_product', id=shoe.id)}}') ">
                    <a>
                        {{ shoe.name }}
                    </a>
                    <p>${{ shoe.price }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <!-- Pagination Links-->
    <a href="{{ url_for('cust_catalog_views.releases_page', page=collection.prev_num) }}">
        &laquo;
    </a>
    <a href="{{ url_for('cust_catalog_views.releases_page', page=collection.next_num) }}">
        &raquo;
    </a>
{% endblock %}