$navColor: #101935;
$navItemHovered: #1c2c5a;
$bodyColor: #9ad4d6;
$contentColor: #F2FDFF;
$footer: #564787;

$tableColor: #b95c50;
$thColor: #e8b4b8;
$tdColor: #eed6d3;

$item: #DBCBD8;
$itemHovered: #d1a4ca;
$paginateColor: white;
$paginateHover: #aca1d1;
$loginButtonColor: #f06250;
$loginButtonHover: #ff8879;

$txtOnDark: white;
$itemName: #581e98;
$borderOutline: #dadada;
$shadow: rgb(49, 49, 49);