@mixin centerContent() {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin dropShadow() {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@mixin paginateLeft() {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    // @media only screen and (max-width: 900px) {
    //     border-top-left-radius: 0.25em;
    //     border-bottom-left-radius: 0.25em;
    // }
}

@mixin paginateRight() {
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    // @media only screen and (max-width: 900px) {
    //     border-top-right-radius: 0.25em;
    // border-bottom-right-radius: 0.25em;
    // }
}