{% extends 'base.html' %}


{% block title %}
    Product Inventory
{% endblock %}


{% block body %}
    <h1>Welcome to the Inventory</h1>
    <!-- Add New Shoe -->
    <form action="/inventory" method="POST">
        <input type="text" name="name" placeholder="name" required>
        <input type="text" name="brand" placeholder="brand" required>
        <input type="text" name="audience" placeholder="audience" required>
        <!-- <input type="text" name="color" placeholder="color" required> -->
        <!-- <input type="number" name="size" placeholder="size" required> -->
        <!-- <input type="number" name="quantity" placeholder="quantity" required> -->
        <input type="number" name="price" placeholder="price" required>
        <input type="submit" value="add to inventory">
    </form>

    <!-- List All Shoes -->
    <table>
        <tr>
            <th>Product ID</th>
            <th>Shoe Name</th>
            <th>Brand Name</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for shoe in inventory %}
            <tr>
                <form id="put-form" action="/inventory/{{ shoe.id }}" method="POST">
                    <td>{{ shoe.id }}</td>
                    <td>
                        <p>{{ shoe.name }}</p>
                        <!-- <input type="text" name="name" placeholder="{{ shoe.name }}" required> -->
                    </td>
                    <td>
                        <p>{{ shoe.brand }}</p>
                        <!-- <input type="text" name="brand" placeholder="{{ shoe.brand }}" required> -->
                    </td>
                    <td>
                        <p>{{ shoe.price }}</p>
                        <!-- <input type="number" name="price" placeholder="{{ shoe.price }}" required> -->
                    </td>
                    <td>
                        <button onclick="redirectUrl('/inventory/{{shoe.id}}')">edit shoe</button>
                        <!-- <button type="submit">update item</button> -->
                    </td>
                </form>
                <td>
                    <button onclick="sendDeleteRequest('/inventory/{{shoe.id}}')">remove shoe</button>
                </td> 
            </tr>
        {% endfor %}
    </table>
    
    <!-- <h1>Test</h1>
    <table>
        <tr>
            <th>Product ID</th>
            <th>Shoe Name</th>
            <th>Brand Name</th>
            <th>Price</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for shoe in inventory %}
            <tr>
                <form id="put-form" action="/inventory/{{ shoe.id }}" method="POST">
                    <td>{{ shoe.id }}</td>
                    <td>
                        <input type="text" name="name" placeholder="{{ shoe.name }}" required>
                    </td>
                    <td>
                        <input type="text" name="brand" placeholder="{{ shoe.brand }}" required>
                    </td>
                    <td>
                        <input type="number" name="price" placeholder="{{ shoe.price }}" required>
                    </td>
                    <td>
                        <button type="submit">update item</button>
                    </td>
                </form>
                <td>
                    <button onclick="sendDeleteRequest('/inventory/{{shoe.id}}')">remove shoe</button>
                </td> 
            </tr>
            
            
            {% if shoe.colors == [] %}
                <p>not ready for sale, needs color options, edit shoe to fix this</p>
            {% else %}
                {% for color in shoe.colors %}
                    {% if color.quantity == [] %}
                        <p>not ready for sale, needs size options, edit shoe to fix this</p>
                    {% endif %}
                {% endfor %}
            {% endif %} 

            
        {% endfor %}
    </table> -->
{% endblock %}