{% extends 'base.html' %}


{% block title %}
    Product Inventory
{% endblock %}


{% block body %}
    <h1>Welcome to the Inventory</h1>

    <table>
        <tr>
            <th>Product ID</th>
            <th>Shoe Name</th>
            <th>Brand Name</th>
            <th>Price</th>
        </tr>
        {% for shoe in inventory %}
            <tr>
                <td>{{ shoe.id }}</td>
                <td>{{ shoe.name }}</td>
                <td>{{ shoe.brand }}</td>
                <td>{{ shoe.price }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}