{% extends 'base.html' %}

{% block title %}{{shoe.name}}{% endblock %}

{% block body %}
    <h1>Shoe Details</h1>
    <p>{{ shoe.name }}</p>
    <p>{{ shoe.brand }}</p>
    <p>{{ shoe.audience }}</p>
    <p>{{ shoe.price }}</p>
    <form id="put-form" action="/inventory/{{ shoe.id }}" method="POST">
            <input type="text" name="name" value="{{ shoe.name }}">
            <input type="text" name="brand" value="{{ shoe.brand }}">
            <!-- <input type="text" name="audience" value="{{ shoe.audience }}"> -->
            <select name="audience" >
                <option value="{{ shoe.audience }}">{{ shoe.audience }}</option>
                <option value="Men">Men</option>
                <option value="Women">Women</option>
                <option value="Children">Children</option>
            </select>

            <input type="number" name="price" value="{{ shoe.price }}">
            <button type="submit">update item</button>
    </form>
    <div id="colors">
        <h2>Shoe Colors</h2>
        {% for color in shoe.colors%}
            <!-- <p>{{ color.color }}</p> -->
            <form id="put-form" action="/inventory/{{shoe.id}}/{{color.id}}" method="POST">
                <input type="text" name="color" value="{{color.color}}">
                <input type="submit" value="edit color name">
            </form>
            <button onclick="sendDeleteRequest('/inventory/{{shoe.id}}/{{color.id}}')">delete color</button>
            {% endfor %}  
        <br>
        <button onclick="addColor('/inventory/{{shoe.id}}')">add color</button>
    </div>  
    <div id="quantities">
        <h2>Quantity of shoes per each size</h2>
        {% for color in shoe.colors%}
            <h4>Quantites for the color {{ color.color }}</h4>
            {% for quantity in color.quan_per_size%}
                <form id="put-form" action="/inventory/{{shoe.id}}/{{color.id}}/{{quantity.id}}" method="POST">
                    <p>{{ quantity.size }}</p>
                    <input type="number" name="quantity" min= "0" value="{{quantity.quantity}}">
                    <input type="submit" value="edit quantity">
                </form>
                <button onclick="sendDeleteRequest('/inventory/{{shoe.id}}/{{color.id}}/{{quantity.id}}')">remove size</button>
            {% endfor %}
            <br>
            <button onclick="addSize('/inventory/{{shoe.id}}/{{color.id}}')">Add a size</button>
        {% endfor %}
        <!-- <br> -->
    </div>
{% endblock%}

