{% extends 'base.html' %}

{% block title %}{{shoe.name}}{% endblock %}

{% block body %}
    <h1>Shoe Details</h1>
    <p>{{ shoe.name }}</p>
    <p>{{ shoe.brand }}</p>
    <p>{{ shoe.audience }}</p>
    <p>{{ shoe.price }}</p>
    <form id="add-to-cart-form" action="{{url_for('cust_cart_views.add_to_cart')}}" method="POST">
        <input type="hidden" name="shoe_id" value="{{shoe.id}}">
        <select id="selectQty" name="quantity" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <input type="submit" value="Add to Cart">
    </form>
{% endblock%}