{% extends 'base.html' %}


{% block title %}
    Sneaker Heads. We Got You.
{% endblock %}


{% block body %}
    <!-- <h1>Welcome to the Homepage</h1> -->

    <!-- Recently Added Shoes -->
    <div class="collections">
        <h2>New Shoe Arrivals</h2>
        <ul>
            {% for shoe in recently_added %}
                <li onclick="redirectUrl('/inventory/{{ shoe.id }}')">
                    <a style="color: #581e98">{{ shoe.name  }}</a>
                    <p>${{ shoe.price  }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="collections brand-collection">
        <h2>Shop our Brands</h2>
        <ul>
            {% for brand in brands %}
                <li onclick="redirectUrl('/{{brand}}/releases')">
                    <a>
                        {{brand}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        
    </div>
    <!-- Shop Men, Women, Children -->
    <!-- <ul>
        {% for audience in audiences %}
            
        {% endfor %}
    </ul> -->
{% endblock %}