{% extends 'base.html' %}


{% block title %}
    Sneaker Heads. We Got You.
{% endblock %}


{% block body %}
    <div class="new-arrivals">
        <h2>New Shoe Arrivals</h2>
        <ul>
            {% for shoe in recently_added %}
                <li class="item-card" onclick="redirectUrl('{{url_for('cust_catalog_views.display_product', id=shoe.id)}}')">
                    <a>{{ shoe.name  }}</a>
                    <p>${{ shoe.price  }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="collections brand-collection">
        <h2>Shop our Brands</h2>
        <ul>
            {% for brand in brands %}
                <li onclick="redirectUrl('{{url_for('cust_catalog_views.brand_releases_page', brand=brand)}}')">
                    <a>
                        {{brand}}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}