* { /*Reset Css*/
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}

body {
    width: 100%;
    background-color: #9ad4d6;

    display: flex;
    flex-direction: column;
    align-items: center;
}


ul {
    list-style-type: none;  
}


li {
    float: left;
}


a {
    text-decoration: none;
}


h1, h2 {
    font-size: xx-large;
    padding-bottom: 0.5em;
}

input[type=search] {
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: 0.2em;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    width: auto;
    height: 1.1em !important;
} 


.nav-bar {
    background-color: #101935;
    width: 100%;
    font-size: larger;
}


.nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.nav-bar li a:hover, .nav-bar li a:active {
    background-color: #1c2c5a;
}

.content {
    background-color: #F2FDFF;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    padding-bottom: 5em;
}

.collections li {
    display: block;
    background-color: #DBCBD8;
    border-radius: 0.35em;
    text-align: center;
    font-size: large;
    padding: 14px 16px;
    margin-left: 1em;
    margin-right: 1em;
}

.collections li:hover, .collections li:active {
    background-color: #d1a4ca;
}

.brand-collection li {
    padding: 84px 86px;
    border-radius: 0.15em;
}

footer {
    background-color: #564787;
    width: 100%;
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;

    color: white;
    text-align: center;
    font-size: small;
}